* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);	
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.nav{
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}
.menu__link{
    text-decoration: none;
    color:var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu__link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;  
}

.menu__link:hover::after{
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.profile__picture{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);	
<<<<<<< HEAD
    animation: float 5s ease-in-out infinite;
=======
>>>>>>> e90c7c3c017dd3247ad61deb7231e7ea129802df
}

h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primaria);
    margin-top: 20px;
}

.header__subtitle{
    font-size: 1.5rem	;
    color: var(--claro);
}

.About{
    padding: 6rem 2rem;
}

.About__titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.About__box{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}


.About__paragraph{
    text-align: center;
    font-size: 1.5rem;
}

.projects{
    padding: 6rem 2rem;
}

.projects__box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr  /*1fracao*/));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projects__card{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
}

.projects__card:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
    transform: translateY(-10px) scale(1.03);
}

.projects__title{
    text-align: center;
    font-size: 2.5rem;
<<<<<<< HEAD
    margin-bottom: 20px;
=======
    margin-bottom: 30px;
>>>>>>> e90c7c3c017dd3247ad61deb7231e7ea129802df
}



.projects__img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

<<<<<<< HEAD
.text__box__projects{
    padding: 1.5rem;
}

.paragraph__projects{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100px; /* Ajuste conforme necessário */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita a 6 linhas, por exemplo */
    -webkit-box-orient: vertical;
    
=======
.paragraph__projects{
>>>>>>> e90c7c3c017dd3247ad61deb7231e7ea129802df

}

.info__projects{
<<<<<<< HEAD
    margin-bottom: 5px;
}

.contacts{
    padding: 6rem 2rem;
}

.contacts__title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form__contact{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.form__field{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid  var(--vidro);
    outline: none;
}

.form__field:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.group__form{
    margin-bottom: 1.5rem;
}

.button__form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.button__form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }
=======

>>>>>>> e90c7c3c017dd3247ad61deb7231e7ea129802df
}